body {
    font-family: "Consolas", sans-serif;
    background-color: #E7E4E4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: rebeccapurple;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(158, 10, 10, 0.1);
    overflow: hidden; /* Importante per nascondere il testo fuori dal contenitore */
}

.titoloanimato {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes titoloanimato {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.titoloanimato h1 {
    display: inline-block;
    padding-left: 100%; /* Inizializza il testo fuori dallo schermo */
    animation: titoloanimato 12s linear infinite;
}

h1 {
    margin: 0;
    font-size: 2em;
    text-align: center;
}

/* Stili per il testo */
text {
    flex: 1; /* Flessibilità per adattarsi allo spazio rimanente */
}

.immaginetoolbox {
    display: block;
    margin: 0 auto; 
    max-width: 100%; /* Assicura che l'immagine non esca fuori dal contenitore */
    height: auto; /* Mantiene le proporzioni */
    width: 700px;
}


.paragrafoprincipale {
    color: red;
}

.listagiochidisponibili {
    background-color: white;
}

.titoloprincipale {
    text-align: center;
}

p {
    font-size: 25px;
    text-align: justify;
}

a {
    font-size: 25px;
}

footer {
    font-size: 25px;
}

.message {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

.listagiochidisponibili {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.listagiochidisponibili button {
    font-size: 20px;
}

.giocodellanciodeldado button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calcolodellamediadeinumeri button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calcolodelquadratodeinumeri button {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.verificadellaparitaodisparitadiunnumero button {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calcolodelfattoriale button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.giocodellindovinello button {
    background-color: orchid;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.giocodelmorracinese button {
    background-color: orangered;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}